<% html = File.expand_path("./other_results/results.html")
  junit = File.expand_path("./other_results/junit/")
  json = File.expand_path("./other_results/cucumber.json")
  format = "--format html --out=#{html}"
  format += " --format junit --out=#{junit}"
  format += " --format json --out=#{json}"
  ENV['CUCUMBER_OUTPUT_FILES'] = [html,  junit, json].join(', ')
%>
default:  --publish-quiet --backtrace --format CucumberLogging::ProjectPretty <%= format %>
# default:  --publish-quiet --backtrace --format 'Slowhandcuke::Formatter'
# default:  --publish-quiet --backtrace --format pretty <%= format %>
